<div class="columns is-centered">
    <div class="column is-4">
        <div class="box">
            <h1 class="title has-text-centered">Counselor Login</h1>
            <p class="subtitle has-text-centered">Access the CARS dashboard</p>
            
            <form method="POST" action="/counselor/login">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" name="username" required 
                               value="<%= locals.formData?.username || '' %>"
                               placeholder="Enter your username">
                    </div>
                </div>
                
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" name="password" required 
                               placeholder="Enter your password">
                    </div>
                </div>
                
                <div class="field">
                    <div class="control">
                        <button class="button is-primary is-fullwidth" type="submit">
                            Login
                        </button>
                    </div>
                </div>
            </form>
            
            <div class="content has-text-centered" style="margin-top: 2rem;">
                <p class="is-size-7">
                    Default credentials: <br>
                    Username: <code>counselor</code><br>
                    Password: <code>changeme123</code>
                </p>
            </div>
        </div>
    </div>
</div>