<% if (locals.errors && errors.length > 0) { %>
    <div class="notification is-danger">
        <% errors.forEach(error => { %>
            <p><%= error.msg || error %></p>
        <% }) %>
    </div>
<% } %>

<% if (locals.success) { %>
    <div class="notification is-success">
        <p><%= success %></p>
    </div>
<% } %>

<% if (locals.info) { %>
    <div class="notification is-info">
        <p><%= info %></p>
    </div>
<% } %>

<% if (locals.warning) { %>
    <div class="notification is-warning">
        <p><%= warning %></p>
    </div>
<% } %>